@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    color: white;
}

body {
    background-color: #123;
    display: flex;
    animation: transitionIn 0.4s;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX('-10deg');
    }

    to {
        opacity: 1;
        transform: rotateX('0');
    }
}

.menu {
    background-color: #123;
    width: 50px;
    height: 100vh;
    padding: 15px;
    overflow: hidden;
    transition: 0.7s;

}

.menu:hover {
    width: 260px;
}

ul {
    list-style: none;
    height: 95%;
}

.menu ul li a {
    display: block;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 15px 10px;
    margin: 10px 0px;
    border-radius: 8px;
    gap: 30px;
    transition: 0.4s;
}

.menu ul li a:hover,
.active-clients,
.data-info .cards:hover,
td:hover {
    background-color: #ffffff50;
}

.menu ul li a i {
    font-size: 25px;
}

.logout-sec a {
    background-color: rgb(169, 5, 5);
}

.content {
    width: 100%;
    background-color: rgb(34, 52, 70);
    position: relative;

}

.title-info {
    background-color: #0066FF;
    padding: 5px 20px;
    margin: 15px 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.7s;
}

.title-info:hover {
    background-color: #0066ffca;
}

.search_box {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    background-color: #ffffff;
    cursor: pointer;
    border-radius: 30px;
    margin: 15px 10px;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    height: 15px;
    padding: 10px 20px;
    box-shadow: 0 10px 25px rgba(255, 255, 255, 0.1);
}

.search_box input {
    width: 90%;
    border: none;
    outline: none;
    background: transparent;
    color: black;
    font-size: 13px;
    transition: 0.8;
    font-weight: 300;
}

.search_box i {
    color: #0066FF;
    font-size: 17px;
    transition: 0.21s;
}

.search_box i:hover {
    color: #0753c5ac;
    font-size: 15px;
}

.new_clients {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 10px 10px;
    padding: 5px;
    gap: 15px;
}

.head_data {
    margin: 0 15px;
    margin-top: 100px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.c_card {
    background-color: #123;
    height: 150px;
    flex-basis: 180px;
    flex-grow: 1;
    border-radius: 8px;
    align-items: center;
    padding: 12px;
    line-height: 28px;
    justify-content: space-around;
    transition: 0.7s;
    position: relative;
}

.c_card span {
    font-weight: 600;
}

.c_card a {
    color: white;
    background-color: #0066FF;
    text-decoration: none;
    font-size: 12.15px;
    font-weight: 600;
    display: inline-block;
    padding: 4px 20px;
    letter-spacing: 1px;
    border-radius: 10px;
    margin-bottom: 5px;
    transition: 0.7s ease;
    position: absolute;
    bottom: 12px; /* Adjust as needed */
    right: 12px;
    }
.c_card a:hover {
    background-color: #0066ffca;
    transform: scale(1.1);
}

.head_data_old {
    margin: 20px 15px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.old_clients {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 10px 10px;
    padding: 5px;
    gap: 15px;
}
.view_all{
    margin: 30px 20px;
}
.view_list{
    color: white;
    background-color: green;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 10px;
    padding: 10px 30px;
    transition: 0.7s ease;
}
.view_list:hover {
    background-color: rgb(6, 186, 6);
    transform: scale(1.1);
}